$blue-1: #001a25;
$blue-2: hsl(198, 100%, 10%);
$blue-3: #002e41;
$blue-4: #00384f;
$blue-5: #00425c;
$blue-6: #1e5971;
$blue-7: #3b6f85;
$blue-8: #769cae;
$blue-9: #b1c9d7;
$blue-10: #ebf6ff;

$color-white: #fff;
$gray1: #fff;
$gray2: #eff1f2;
$gray3: #ced5d8;
$gray4: #999; //#9DABB0;
$gray5: #7c8f96;
$gray6: #5b737c;
$gray7: #37454a;
$gray8: #242e32;
$gray9: #121719;
$gray10: #000;

$color-main: #00425c;
$color-red: #cc0000;
$color-blue: #3333cc;

$header-height: 52px;

$color-link: #0000ff;

$text-color: rgb(95, 95, 95);

$margin-mobile: 24px;
$margin-desktop: 64px;
$spacing-base: 24px;
$mobile-min-width: 375px;
$tablet-min-width: 743px;
$desktop-min-width: 989px;
$desktop-large-min-width: 1040px;

$content-min-width: 960px;
$content-max-width: 1008px; //960 - 2*24px
$content-max-width-width-padding: 1056px;

$shadow-very-close: 0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 1px 0px rgba(0, 0, 0, 0.03),
  0px 1px 5px 0px rgba(0, 0, 0, 0.05);
$shadow-close: 0px 4px 5px 0px rgba(0, 0, 0, 0.04), 0px 1px 10px 0px rgba(0, 0, 0, 0.03),
  0px 1px 4px 0px rgba(0, 0, 0, 0.05);
$shadow-middle: 0px 9px 10px 0px rgba(0, 0, 0, 0.07), 0px 5px 14px 0px rgba(0, 0, 0, 0.06),
  0px 2px 5px 0px rgba(0, 0, 0, 0.1);
$shadow-far: 0px 14px 17px 0px rgba(0, 0, 0, 0.07), 0px 9px 22px 0px rgba(0, 0, 0, 0.06),
  0px 3px 8px 0px rgba(0, 0, 0, 0.1);
$shadow-very-far: 0px 27px 38px 0px rgba(0, 0, 0, 0.07), 0px 17px 46px 0px rgba(0, 0, 0, 0.06),
  0px 4px 15px 0px rgba(0, 0, 0, 0.1);
